* {
    margin: 0;
    padding: 0;

}

.draw {
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none;
}

body {
    background-color: aliceblue;
}

#button {
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none;
    z-index: 1000;
}